html
  head
    link(href='http://fonts.googleapis.com/css?family=Lato', rel='stylesheet', type='text/css')
    link(href='/static/styles/styles.css', rel='stylesheet', type='text/css')
  
  body

    form(action="/login", method="POST")
      span Name:
      input(type="text", name="name")
      input(type="submit")
